{% load staticfiles %}

<div class="top_menu">
  <p class="logo2"><a href="{{homepage_url}}">
    <img src="{% static "oscar/image/logo_comores_en_ligne.png" %}"
	 alt="Les Comores en Ligne"></a>
    </p>
 <!-- <p class="me1"><a href="{{homepage_url}}">Dépôt d’argent</a></p>
  <p class="me1"><a href="{{homepage_url}}">Transfert de crédi</a></p>
  <p class="me1"><a href="{{homepage_url}}">Transfert d’rgent</a><p>
  <p class="me1"><a href="{{homepage_url}}">Paiement de factures</a></p>
  <p class="me1"><a href="{{homepage_url}}">Achat de marchandises</a></2></p>-->
</div>
