{% extends "yous/layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
{% include "yous/tina/partials/nav_primary.html" %}
{% endblock %}

{% block content %}

<h1> Bientôt disponibles</h1>
<h3>Nous avons déjà les autorisations administratives pour nos services</h3>
<h2>Les documents sont en cours de redaction par nos avocats</a>
<h3>Nous attendons la mise en place d'un partenariat avec un services de paiement en ligne pour remplir cette page et commencer à vous servir avec nos services et produits de qualités</h3>


{% endblock content %}
