{% extends "yous/layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

{% block navigation %}
{% include "yous/tina/partials/nav_primary.html" %}
{% endblock %}

{% block content %}
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm; font-weight: normal">
<font color="#0066cc"><font face="Bitstream Charter, serif"><font size="6" style="font-size: 24pt">MENTIONS
LÉGALES</font></font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Conformément
aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la
confiance en l'économie numérique, il est précisé aux
utilisateurs du site </font></font>
</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><i><b>www.comores-en-ligne.com</b></i></font><font size="3" style="font-size: 12pt">
l'identité des différents intervenants dans le cadre de sa
réalisation et de son suivi.</font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font color="#0066cc"><font face="Bitstream Charter, serif"><font size="5" style="font-size: 18pt"><b>Édition</b></font><font size="5" style="font-size: 18pt"><b>
du site </b></font></font></font>
</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Le
présent site, accessible à l’URL </font><font size="3" style="font-size: 12pt">www.comores-en-ligne.com</font><font size="3" style="font-size: 12pt">(le
« Site »), est édité par :  </font><font size="3" style="font-size: 12pt"><i><b>Monsieur</b></i></font><font size="3" style="font-size: 12pt"><i><b>,
</b></i></font><font size="3" style="font-size: 12pt"><i><b>IBRAHIMA
Nirsoih Losri</b></i></font><font size="3" style="font-size: 12pt">,
résidant </font><font size="3" style="font-size: 12pt">45 RUE DE
FONTAURY 87100 LIMOGES</font><font size="3" style="font-size: 12pt">,
de nationalité </font><font size="3" style="font-size: 12pt">française,
né le 04 octobre 1991.</font><font size="3" style="font-size: 12pt"><i><b>
 </b></i></font><font size="3" style="font-size: 12pt"><br/>
</font></font><br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font color="#0066cc"><font face="Bitstream Charter, serif"><font size="5" style="font-size: 18pt"><b>Hébergement</b></font></font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><br/>
Le
Site est hébergé par la société </font><font size="3" style="font-size: 12pt">DigitalOcean</font><font size="3" style="font-size: 12pt">
 </font><font size="3" style="font-size: 12pt">situé 101 6th Ave New
York, NY 10013, États Unis, téléphone&nbsp;: +1 347 903 7918, </font><font size="3" style="font-size: 12pt">dans
ces data</font><font size="3" style="font-size: 12pt">s</font><font size="3" style="font-size: 12pt">
centers situés en Europe à Francfort. </font><font size="3" style="font-size: 12pt"><br/>
</font></font><br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font color="#0066cc"><font size="5" style="font-size: 18pt"><b>Responsable
de l’exploitation </b></font></font><font size="5" style="font-size: 18pt"><br/>
</font></font><br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Le
Directeur de la publication du Site est </font><font size="3" style="font-size: 12pt">IBRAHIMA
Nirsoih Losri. </font></font>
</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><br/>
</font></font><br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font color="#0066cc"><font face="Bitstream Charter, serif"><font size="5" style="font-size: 18pt"><b>Nous
contacter </b></font></font></font>
</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><br/>
L’Exploitant
peut être joint à&nbsp;: </font></font>
</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
 <font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><b>A</b></font><font size="3" style="font-size: 12pt"><b>dresse
email suivante&nbsp;:</b></font></font></p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
 <font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt"><a href="mailto:contact.comores.en.ligne@gmail.com">contact.comores.en.ligne@gmail.com</a>.</font></font></p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><b><font size="3" style="font-size: 12pt">A</font><font size="3" style="font-size: 12pt">dresse
postale&nbsp;:</font></b></font></p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">45
RUE DE FONTAURY</font></font></p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">87100
LIMOGES</font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font color="#0066cc"><font face="Bitstream Charter, serif"><b><font size="5" style="font-size: 18pt">CNIL</font></b></font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">La
collecte et le traitement informatique des données nominatives par
la Société a fait l'objet d'une déclaration simplifiée auprès de
l'autorité française de protection des données personnelles (la
Commission Nationale de l'Informatique et des Libertés - CNIL)<br /> (n°</font><font size="3" style="font-size: 12pt"><i><span style="font-weight: normal">2150661 V 0</span></i></font><font size="3" style="font-size: 12pt">).
</font></font>
</p>
<p align="left" style="margin-bottom: 0.28cm; border: none; padding: 0cm; line-height: 100%">
<br/>
<br/>

</p>
<p align="left" style="margin-bottom: 0.28cm; border: none; padding: 0cm; line-height: 100%">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Les
informations recueillies à partir de ce site font l’objet d’un
traitement informatique destiné à </font><font size="3" style="font-size: 12pt">IBRAHIMA
Nirsoih Losri, responsable marketing, p</font><font size="3" style="font-size: 12pt">our
la finalité suivante : </font><font size="3" style="font-size: 12pt">servir
le client. </font></font>
</p>
<p align="left" style="margin-bottom: 0.28cm; border: none; padding: 0cm; line-height: 100%">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Conformément
à la loi « informatique et libertés » du 6 janvier 1978 modifiée,
vous disposez d’un droit d’accès et de rectification aux
informations qui vous concernent.  </font></font>
</p>
<p align="left" style="margin-bottom: 0.28cm; border: none; padding: 0cm; line-height: 100%">
<font face="Bitstream Charter, serif"><font size="3" style="font-size: 12pt">Vous
pouvez également, pour des motifs légitimes, vous opposer au
traitement des données vous concernant.</font></font></p>
<p align="left" style="margin-bottom: 0cm; border: none; padding: 0cm">
<br/>

</p>

{% endblock content %}
