{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
    {% comment %}
    Voici le footer 
            Could be used for displaying links to privacy policy, terms of service, etc.
    We have a CSS class defined:
    {% endcomment %}

   <h5>
      <div></div><div> </div> 
    </h5>

   
   <div class="navbar navbar-navbar">
     <div class="container-fluid" >
       <div class="row">
	 <ul class="col-xs-12 col-ms-12 col-md-3 col-lg-3">
	     <li class="div1">Qui sommes nous?</li>
	     <li>Des Jeunes comoriens</li>
	     <li>Sécurité et conformités</li>
	     <li>Nos partenaires</li>
	     <li>Mentions légales</li>
	   </ul>
	   <ul  class="col-xs-12 col-ms-12 col-md-3 col-lg-3">
	     <li class="div1">Nos services  pour les Comores</li>
	     <li>Transfert de crédit Telma </li>
	     <li>Transfert de crédit télécoms</li>
	     <li>Achat produits allimentaires</li>
	   </ul>
	   <ul  class="col-xs-12 col-ms-12 col-md-3 col-lg-3">
	     <li class="div1">Besoins d'aide?</li>
      	     <li><a href="{% url 'contact:contact' %}">Foirs Aux Questions</a></li>
	     <li><a href="{% url 'contact:contact' %}">Nos Tarifs</a></li>
	     <li><a href="{% url 'contact:contact' %}">Faire une réclamation</a></li>
	     <li><a href="{% url 'contact:contact' %}">Nous contacter</a></li>
	   </ul>
	   <ul  class="col-xs-12 col-ms-12 col-md-3 col-lg-3">
	     <li class="div1">Siège sociale</li>
    	     <li>45 RUE DE FONTAURY</li>
	     <li>87100 LIMOGES</li>
	     <li>France</li>
	     <li>contact.comores.en.ligne@gmail.com</li>
	   </ul>
	 </div>
     </div>
   </div>

     <br /> <br />
    
    <ul class="footer_links inline">
      
           <p>
	<a href="{% url 'promotions:home' %}">Accueil</a> |<a href="{% url 'promotions:home' %}">A propos de nous</a>| <a href="{% url 'contact:contact' %}"> Contactez nous<a/>|
	  <a href="{% url 'promotions:home' %}">Mentions Legales</a> |<a href="{% url 'promotions:home' %}">Propriété intellectuel</a> |
	  <a href="{% url 'promotions:home' %}">Conditions générales</a> <br /> <br />
	  <div class="navbar navbar-inverse"> &copy Copyright {% now "Y" %} &middot; Comores En Ligne &middot; Tout droit resérvés
	  </div>
	  
      </p>
    
      
    
      
    </ul>

    
    {% endblock %}
</footer>
