{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
Adresse de Livraion | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}Adresse de Livraison{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
<div class="col-sm-12">
  <div class="sub-header">
    <h2>Dites nous s'il vous plait à qui on doit transmettre votre votre colis aux Comores</h2>
  </div>
  {% if user.is_authenticated %}
  {% if addresses %}
  <h3>Vous preferez choisir une adresse de votre carnert d'adresse?</h3>
  <div class="choose-block">
    <div class="row">
      {% for address in addresses %}
      {% block select_address_form %}
      <div class="col-sm-6">
        <div class="well">
          <address>
            {% block select_address_fields %}
            {% for field in address.active_address_fields %}
            <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
            {% endfor %}
            {% endblock %}
          </address>
          <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
            {% csrf_token %}
            <input type="hidden" name="action" value="ship_to" />
            <input type="hidden" name="address_id" value="{{ address.id }}" />
            {% if address.is_default_for_shipping %}
            <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">Je choisis cette adresse de livraison</button>
            {% endif %}
	    
            <div class="btn-group address-controls">
              <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-default btn-sm">Modifier cette adresse.</a>
              <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">Supprimer cette adresse</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
    </div><div class="row">
      {% endif %}
      {% endblock %}
      {% endfor %}
    </div>
  </div>
  <h3>Ou vous preferez nous donner une nouvelle adresse pour un nouveau bénéficiaire ? Qu'en pensez vous?</h3>
  {% endif %}
  {% endif %}
  
  {% block new_address_form %}
  <div class="well">
    <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
      {% csrf_token %}
      {% include "partials/form_fields.html" with form=form style='horizontal' %}
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">Allons! Passons en Caisse car la famille attend :)</button>
          {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
</div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
